h1 {
	font-family: serif;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	border: 7px double #008000;
	margin-right: 50px;
	margin-left: 50px;


}

body {
  background: white;
}

.item img {
	width: 100%;
}


p {
  color: green;
}

.left {
	background: white;
}

